@font-face {
    font-family:Faster-One ;
    src: url(../fonts/FasterOne-Regular.ttf);
}
@font-face {
    font-family:BlackOps ;
    src: url(../fonts/BlackOpsOne-Regular.ttf);
}
body {
    margin: 0;
    height: 100vh;
    background-color: #ebe2db; /* Brown color */
    display: flex;
    justify-content: center;
    align-items: center;
}
body:hover{
    cursor: default;
}

.circle {
    top: -10px;
    width: 100vw; /* 65% of the viewport width */
    height: 75vw; /* Maintain a circle by matching height to width */
    background-color: #FFFFFF; /* White color for the circle */
    border-radius: 50%; /* Create the circular shape */
    transform: translateY(-30vh);
    z-index: 1;
    margin-top: 100px;
    margin-bottom: 0px;
}
header {
    position: absolute;
    top: -28px;
    width: 100%;
    z-index: 2;
}
header .container{
    width: 100%;
    height: 100%;
    background-color: #ebe2db;
    border-bottom: 3px solid rgb(156, 135, 135);
}
.pembungkus{
    display: flex;
}
.logo{
    padding: 5px;
    margin-top: 20px;
}
header .container .pembungkus .logo h2 {
    font-size: 2rem;
    color: #000;
    margin-left: 50px;
    font-family: Faster-One;
    
}
/* SECTION */
#pertama{
    margin-top: 380px;
}
#pertama .container .pembungkus_pertama .isi h2{
    padding: 8px;
    margin-top: 25px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    width: 170px;
    text-align: center;
}
.pembungkus_pertama{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
#pertama .pembungkus_pertama .isi{
    display: flex;
}
#pertama .pembungkus_pertama .isi .type_name_here{
    padding: 10px;
}
input{
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    margin-top: 26px;
    background-color: none;
    text-align: center;
}
.pembungkus_button{
    display: flex;
    margin-top: 20px;
}
.button_pertama{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    margin-top: 5px;
    width: 200px;
    background-color: none;
    text-align: center;
    background-color: white;
}
.button_pertama:hover{
    opacity: 50%;
    background-color: gray;
    cursor: pointer;
}

/* STYLE SECTION KEDUA */
#kedua .container .result{
    display: flex;
}
#kedua .container .result h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-bottom: 1px solid black;
}
.pembungkus_kedua {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
#kedua .container .pembungkus_name{
    display: flex;
}
#kedua .container .pembungkus_name .name h2{
    margin-left: 12px ;
}
#kedua .container .pembungkus_name_kedua{
    display: flex;
}
#kedua .container .pembungkus_name_kedua .name h2{
    margin-left: 10px;
}
.pembungkus_kedua,.pembungkus_name h2:hover{
    cursor:default ;
}

#kedua .container .pembungkus_kedua .name h2{
    padding: 8px;
    margin-top: 25px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    width: 160px;
    text-align: center;
}
#kedua .pembungkus_kedua  .type_name_here{
    padding: 10px;
}
.button_kedua{
    display: flex;
}
.button_kedua .button_reset_r{
    margin-left: 530px ;
    margin-top: 40px;
}
.button_reset_r{
    border: none;
    background-color: none;
    font-family: BlackOps;
    font-size: 70px;
    rotate: 10deg;
}
.button_kedua .button_reset_e{
    margin-left: 10px ;
    margin-top: 45px;
}
.button_reset_e{
    border: none;
    background-color: none;
    font-size: 70px;
    rotate: 2deg;
    font-family: BlackOps;
    
}
.button_kedua .button_reset_s{
    margin-left: 10px ;
    margin-top: 45px;
}
.button_reset_s{
    border: none;
    background-color: none;  
    font-size: 70px;
    rotate: -7deg;
    font-family: BlackOps;
}
.button_kedua .button_reset_e_kedua{
    margin-left: 10px ;
    margin-top: 40px;
}
.button_reset_e_kedua{
    border: none;
    background-color: none;   
    font-size: 70px;
    rotate: -10deg;
    font-family: BlackOps;
}
.button_kedua .button_reset_t{
    margin-left: 10px ;
    margin-top: 30px;
}
.button_reset_t{
    border: none;
    background-color: none;   
    font-size: 70px;
    rotate: -15deg;
    font-family: BlackOps;
}
.button_kedua:hover{
    cursor: pointer;
}
