@font-face {
    font-family:Faster-One ;
    src: url(../fonts/FasterOne-Regular.ttf);
}
@font-face {
    font-family:BlackOps ;
    src: url(../fonts/BlackOpsOne-Regular.ttf);
}
body {
    margin: 0;
    height: 100vh;
    background-color: #ebe2db; /* Brown color */
    display: flex;
    justify-content: center;
    align-items: center;
}
body:hover{
    cursor: default;
}

.circle {
    top: -10px;
    width: 100vw; /* 65% of the viewport width */
    height: 68vw; /* Maintain a circle by matching height to width */
    background-color: #FFFFFF; /* White color for the circle */
    border-radius: 50%; /* Create the circular shape */
    transform: translateY(-23vh);
    z-index: 1;
    margin-top: 100px;
    margin-bottom: 0px;
    overflow: hidden;
}
header {
    position: absolute;
    top: -28px;
    width: 100%;
    z-index: 2;
}
header .container{
    width: 100%;
    height: 100%;
    background-color: #ebe2db;
    border-bottom: 3px solid rgb(156, 135, 135);
}
.pembungkus{
    display: flex;
}
.logo{
    padding: 5px;
    margin-top: 20px;
}
header .container .pembungkus .logo h2 {
    font-size: 2rem;
    color: #000;
    margin-left: 50px;
    font-family: Faster-One;
    
}
/* SECTION */
#pertama{
    margin-top: 330px;
}
#pertama .container .pembungkus_pertama .isi h2{
    padding: 8px;
    margin-top: 25px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    width: 130px;
    text-align: center;
}
.pembungkus_pertama{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
#pertama .pembungkus_pertama .isi{
    display: flex;
}
#pertama .pembungkus_pertama .isi .type_name_here{
    padding: 10px;
}
input{
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    margin-top: 26px;
    background-color: none;
    text-align: center;
}
.pembungkus_button{
    display: flex;
    margin-top: 20px;
}
.button_pertama{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    margin-top: 5px;
    width: 200px;
    background-color: none;
    text-align: center;
    background-color: white;
}
.button_pertama:hover{
    opacity: 50%;
    background-color: gray;
    cursor: pointer;
}

/* STYLE SECTION KEDUA */
#kedua .container .result{
    display: flex;
}
#kedua .container .result h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-bottom: 1px solid black;
}
.pembungkus_name{
    display: flex;
    justify-content: center;
}
.name{
    margin-right: 10px;
}
/* .name_input{
    margin-right: 100px;
} */
#kedua .container .pembungkus_name h2{
    padding: 8px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    width: 130px;
    text-align: center;
    margin: 15px;
    opacity: 90%;
}
.pembungkus_task{
    display: flex;
    justify-content: center;
}
#kedua .container .pembungkus_task h2{
    padding: 8px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    width: 130px;
    text-align: center;
    margin: 15px;
    opacity: 90%;
}
.button_kedua{
    display: flex;
    justify-content: center;
}
.button_reset{
    background-color: white;
    border: none;
    margin-top: 30px;
    font-family: BlackOps;
    font-size:xx-large;
}
#r{
 margin-top: 50px;
 rotate: 10deg;
}
#e{
    margin-top: 60px;
    rotate: 5deg;
}
#s{
    margin-top: 65px;
    rotate: -2deg;
}
#e-2{
    margin-top: 60px;
    rotate: -5deg;
}
#t{
    margin-top: 50px;
    rotate: -5deg;
}
#r,#e,#s,#e-2,#t:hover{
    cursor: pointer;
}
